<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper标签用于指定配置文件所属的接口名，通过namespace来指定 -->
<mapper namespace="dao.UserinfoDao">
    <resultMap id="userinfoMap" type="Userinfo" >
        <id property="uid" column="uid"/>
        <result property="uname" column="uname"/>
        <result property="upass" column="upass"/>
        <result property="ustatus" column="ustatus"/>
        <result property="createTime" column="createTime"/>
    </resultMap>
    <!-- select标签专门指定查询方法,id代表方法名，
    parameterType代表方法的参数数据类型
    resultType代表方法的返回的集合中的元素类型-->
    <insert id="insertuser" parameterType="Userinfo">
        insert into userinfo values(#{uid},#{uname},#{upass},#{ustatus})
    </insert>

    <select id="findUser" parameterType="String" resultType="Userinfo">
        select * from userinfo where uname=#{uname}
    </select>
    <select id="findByUser" parameterType="Userinfo" resultType="Userinfo">
        select * from userinfo where uname=#{uname} and upass=#{upass}
    </select>
    <select id="findAllUser" resultType="entity.UserInfoVo">
        SELECT userinfo.*,roleinfo.rname FROM userinfo LEFT JOIN urinfo ON userinfo.uid=urinfo.uid
			LEFT JOIN roleinfo ON roleinfo.rid=urinfo.rid
    </select>
    <update id="updatePwd" parameterType="Userinfo">
        update userinfo set upass=#{newupass} where uname=#{uname} and upass=#{oldupass}
    </update>

    <delete id="deleteuser" parameterType="Userinfo">
        delete from userinfo where uname=#{uname}
    </delete>

    <select id="findUserByUserId" parameterType="java.lang.Integer" resultMap="userinfoMap">
        SELECT * FROM userinfo A LEFT JOIN weixininfo B ON A.weixinhao=B.weixinhao WHERE a.uid=#{uid}
    </select>

    <resultMap id="userinfoMap" type="Userinfo">
        <id column="uid" property="uid"></id>
        <result column="uname" property="uname"></result>
        <result column="upass" property="upass"></result>
        <result column="ustatus" property="ustatus"></result>
        <result column="createTime" property="createTime"></result>

        <association property="weixinInfo" javaType="entity.WeixinInfo">
            <id column="weixinhao" property="weixinhao"></id>
            <result column="weixinicheng" property="weixinicheng"></result>
            <result column="weixinimage" property="weixinimage"></result>
        </association>
    </resultMap>



</mapper>
